@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,400&family=Lato:wght@300;400&display=swap');


/*Fonts
font-family: 'Alegreya', serif;
font-family: 'Lato', sans-serif;
*/


/*Colors
undefaced off white
#FFFFE4
self-addressed pinkish brown
#B17261
accosted brick red
#8F1402
unsealed mahogany
#4A0100
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-color: #8F1402;
  color: #FFFFE4;
  line-height: 1.6;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
}

.navbar {
  background-color: #B17261;
  height: 7rem;
}

.heading {
  margin: 2.5rem 0 1rem 0;
  /*padding: 1rem;*/
}

.heading h2 {
  font-family: 'Alegreya', serif;
  font-size: 2.6rem;
  letter-spacing: .1rem;
  word-spacing: .25rem;
}

.details {
  /*padding: .4rem 1rem;*/
  display: flex;
  letter-spacing: .025rem;
}

.details-1 {
  margin-right: 10rem;
}

.details-1 div{
  padding: .2rem 0;
}

.details-2 {

}

.details-2 span {
  display: block;
  padding: .2rem 0;
}

hr {
  filter: opacity(10%);
  margin: 2.5rem 0rem;
  /*border: 1px solid #FFFFE4;*/
}

h3 {
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
}

ul {
  list-style: none;
}

ul li {
  /*display: inline-block;*/
  /*margin-right: 1.5rem;*/
}

.session {
  padding: 2rem;
  background-color: #4A0100;
  box-shadow: 1px 2px 2px rgba(0,0,0,.4);
  margin-bottom: 3.5rem;
  /*max-width: 60%;*/
  border-radius: 2px;
  flex: 0 0 60%;
}

.session-title {
  font-size: 2rem;
}

.session-creator {
  margin-bottom: 1.2rem;
  /*margin-top: .4rem;*/
  font-size: 1.3rem;
}

.session-container {
  display: flex;
}
.votingWidget {
  user-select: none;
  /*width: 5rem;*/
  background-color: #4A0100;
  box-shadow: 1px 2px 2px rgba(0,0,0,.4);
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*margin-bottom: 1rem;*/
  margin-right: 3.5rem;
  flex: 0 0 5rem;
  height: 10rem;
}

.up {
  cursor: pointer;
  user-select: none;
}

.down {
  cursor: pointer;
  user-select: none;
  filter: brightness(70%);
}

.badge {
  font-size: 1.8rem;
  background-color: #B17261;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  color: #FFFFE4;
}

.badge div {
  margin-top: .35rem;
}